/* Importa a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Fonte Poppins */
    background-color: #D7D7D7;
    color: #333;
}



.img-logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.img-logo img {
    width: 60px;
    height: auto;
}

/* Header padrão */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    height: 20vh;
    top: 0;
    z-index: 1000;
    background-color: transparent; /* Transparente por padrão */
    transition: background-color 0.6s ease-in-out, box-shadow 0.6s ease-in-out; /* Suavização mais longa */
}

/* Header ao fazer scroll */
header.scrolled {
    height: 10vh;
    border-bottom: 1px solid #d6d6d6; /* Adiciona borda inferior */
    background: linear-gradient(120deg, #D7D7D7, #FFFFFF);  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: height 0.6s ease-in-out, background 0.6s ease-in-out, box-shadow 0.6s ease-in-out; /* Suavização mais longa */
}

/* Links do menu padrão */
.nav ul li a {
    text-decoration: none;
    color: white; 
    font-weight: 600; 
    padding: 10px 15px;
    transition: color 0.6s ease-in-out; 
    font-size: 1em;
}

/* Links do menu ao fazer scroll */
header.scrolled .nav ul li a {
    color:  #333;
    transition: color 0.6s ease-in-out; 
}

header.scrolled .nav ul li a:hover {
    color: #ff9900;
    transition: color 0.3s ease-in-out; 
}
/* Links hover continuam iguais */
.nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600; 
    padding: 10px 15px;
    transition: background-color 0.3s;
    font-size: 1em; 
}

.nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
header .nav ul li a:hover {
    color: #ff9900;
}
/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-content {
    flex: 1.2;
    padding-left: 50px;
    background-color: #D7D7D7;
}

/* Para o "Hi" */


/* Para o restante do título */
.left-content h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    line-height: 1.2;
}


.left-content p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #777;
    font-weight: 400; 
}
.left-content .hi-text {
    margin-left: 20px;
    font-size: 1.2em; 
    font-weight: 700;
    color: #333; 
    margin-bottom: 0;
   
    letter-spacing: 1px; 
}

.left-content .social-icons {
    display: flex;
  

  
  
    gap: 15px;
}

/* Botões de Ação */
.actions-btn {
    margin: 20px 0;
    display: flex;
    gap: 15px;
}

.actions-btn a {
    text-decoration: none;
    
}

.actions-btn .btn-primary {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.actions-btn .btn-primary:hover {
    background-color: #555;
    transform: scale(1.05); 
}

.actions-btn .btn-secondary {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    font-size: 1em;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.actions-btn .btn-secondary:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
}
.social-icons a {
    display: flex;
    justify-content: center;

    text-decoration: none;
    align-items: center;
  

    background-color: #333; 
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    transition: background-color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    background-color: #555; 
    transform: scale(1.1); 
}

.right-content {
    flex: 2;
    height: 100vh;
    padding-top: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

.hero-image {
    width: 65%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: auto;
}

/* Section */
.section {
    padding: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 700;
}

.section p {
    font-size: 1em;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto 20px auto;
    font-weight: 300; 
}

.section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600; 
}

.section a:hover {
    background-color: #777;
}







/* abaut me*/
/* Skills*/
/* Importa a fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* Skills Section */
.skills-section {
    padding: 50px 20px;
    background: radial-gradient(circle, #FFFFFF, #D7D7D7);
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
}

.skills-header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.skills-title-box {
    display: inline-block;
    border: 2px solid #000;
    padding: 10px 30px;
   
    text-align: center;
}

.skills-title-box h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

/* Skills Container */
.skills-container {
    max-width: 800px; 
    margin: auto;
    
}

.skills-category h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center;
     align-items: center;
}

.skill-item {
    
    text-align: center;
}

.skill-item img {
    width: 60px; 
    height: 60px;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

.skill-item img:hover {
    transform: scale(1.1); 
}

.skill-item p {
    font-size: 1em; 
    color: #333;
    font-weight: 400; 
    margin-top: 0;
}

/* Ajustes gerais */
.skills-category h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: #555;
}

.skill-item i {
    font-size: 2.5em; 
    color: #333; 
    display: block; 
    margin-bottom: 10px; 
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.skill-item i:hover {
    transform: scale(1.2); 
    color: #007bff; 
}


/* About Section */
.about-section {
    padding: 60px 20px;
    background: radial-gradient(circle, #E1E1E1 60%, #d7d7d7 90%, #E1E1E1);
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: auto;
}


.about-intro {
    font-size: 1.4em;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
}

.about-description {
    font-size: 1em;
    line-height: 1.8;
    color: #555;
    text-align: justify;
}
/* Contact Section *//* Contact Section */
.contact-section {
    padding: 30px 20px;
    background-color: #121212; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #f0f0f0;
}

.contact-container {
    max-width: 800px;
    margin: auto;
}

.contact-title {
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
    color: #ffffff; 
}

.contact-title span {
    font-style: italic;
    font-weight: 400;
    color: #ff9900; 
}

.contact-email {
    display: block;
    font-size: 1.5em;
    color: #cccccc;
    text-decoration: none;
    margin-bottom: 40px;
    border-bottom: 2px solid #555555;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.contact-email:hover {
    color: #ffffff;
    border-color: #ff9900;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.social-links a {
    font-size: 1.2em;
    color: #cccccc;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease-in-out;
}

.social-links a i {
    font-size: 1.5em;
    color: #ff9900;
    transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
    color: #ffffff;
}

.social-links a:hover i {
    transform: scale(1.2);
}

#contact .skills-title-box {
    border-color: #ffffff; 
}
/* Botão "Back to Top" */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color:#ff9900;
    color: #ffffff;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover {
    background-color: #ff6600;
    transform: scale(1.1);
}
